
.gallery-main {
    margin-bottom: 150px;
}

.gallery-main .gallery-top-section{
    background-image: url(../images/shainas-kitchen.jpeg);
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.gallery-main .gallery-top-section .overlay {
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.gallery-main h1 {
    font-family: var(--fontSerif);
    padding: 50px 25px 150px;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.gallery-main h1 span {
    color: var(--secondary);
}

.gallery-main .container {
    margin: 0 auto;
}

.gallery-main .container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 24px;
}

@media screen and (max-width: 990px) {

    .gallery-main .gallery-top-section{
        height: 200px;
    }

    .gallery-main .gallery-top-section .overlay {
        height: 200px;
    }

    .gallery-main h1 {
        font-size: 40px; 
    }
}