
/* main content section 1 and 2 **************************************************************************************** */
.main-content-sroll-to {
    position: relative;
    bottom: 200px;
}

.main-content-section .container{
    padding: 50px;
    display: flex;
    align-items: center;
    max-width: 1260px;
    margin: 0 auto;
}

.main-content-section .container .text-box{
    width: 50%;
    padding: 50px;
    opacity: 0;
    transition: opacity 500ms;
}

.main-content-section .container .text-box.scrolled {
    opacity: 1;
}


.main-content-section .container .text-box h2{
    font-size: 60px;
    font-family: var(--fontSerif);
}

.main-content-section .container .text-box h2 em{
    color: var(--secondary);
    font-weight: lighter;
    overflow-y: hidden;
    display: inline-block;
    font-style: normal;
}

.main-content-section .container .text-box h2 em span{
    position: relative;
    transition-duration: .5s;
    transition-delay: .3s;
    top: 60px;
}

.main-content-section .container .text-box.scrolled > h2 em span {
    top: -1px;
}

.main-content-section .container .text-box p{
    max-width: 300px;
    padding-left: 25px;
    margin: 50px 0;
    position: relative;
}


.main-content-section .container .text-box p .line {
    border-left: 3px solid var(--secondary);
    display: inline-block;
    height: 0;
    width: 100%;
    position: absolute;
    right: 0;
    transition-duration: .5s;
    transition-delay: .7s;
}

.main-content-section .container .text-box.scrolled > p .line {
    height: 100%;
}


.main-content-section .container .image-box {
    width: 50%;
    padding: 50px;
}

.main-content-section .container .image-box img {
    width: 100%;
}

.main-content-section-2{
    background-color: var(--light);
}

.main-content-section-2 .container {
    flex-direction: row-reverse;
}


.main-content-section-3 .container .text-box button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    font-family: var(--fontSansSerif);
    font-size: 20px;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 1px;
    transition-duration: .2s;
}

.main-content-section-3 .container .text-box button:hover {
    color: var(--black);
    background-color: transparent;
    border-color: var(--secondary);
}

.main-content-section-3 .container .text-box button a {
    text-decoration: none;   
    color: unset; 
}

.main-content-section-3 .container .text-box button a .fa-chevron-right {
  color: var(--secondary);
  font-size: 16px;
}


/* what we did section **************************************************************************************** */

.what-we-did-section {
    background-color: var(--light);
}

.what-we-did-section .container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 50px;
}

.what-we-did-section .container h2 {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    font-family: var(--fontSerif);
    max-width: 850px;
    opacity: .2;
    transition-duration: .5s;
}

.what-we-did-section .container h2.scrolled {
    opacity: 1;
}


.what-we-did-section .container h2 .line {
    border-bottom: 3px solid var(--secondary);
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top: 50px;
    width: 0;
    transition-duration: .5s;
}

.what-we-did-section .container h2 .line.scrolled {
    width: 100%;
}

.what-we-did-section .container .projects-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 0;
    transition-duration: .5s;
}


.what-we-did-section .container .projects-box .project {
    height: 300px;
    width: 300px;
    overflow-y: hidden;
    margin: 0 auto 50px;
    max-width: 400px;
    transition-duration: .5s;
    opacity: 0;
    transform: translateX(50px);
}

.what-we-did-section .container .projects-box.scrolled > div.project {
    opacity: 1;
    transform: translateX(0px);
}

.what-we-did-section .container .projects-box .project-1 { transition-delay: .5s;}
.what-we-did-section .container .projects-box .project-2 { transition-delay: .6s;}
.what-we-did-section .container .projects-box .project-3 { transition-delay: .7s;}

.what-we-did-section .container .projects-box .project .top-half .project-title {
    font-size: 20px;
}

.what-we-did-section .container .projects-box .project.active {
    height: 400px;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #ccc;
    margin: 0px auto 0px;
    border-radius: 3px;
}

.what-we-did-section .container .projects-box .project.active > .top-half .project-title{
    opacity: 0;
    font-size: 0px;
    transition-duration: .4s;
}

.what-we-did-section .container .projects-box .project.active > .top-half .fa-chevron-down {
    margin-bottom: -15px;
    opacity: 0;
    transition-duration: .4s;
}

.what-we-did-section .container .projects-box .project:hover > .top-half .fa-chevron-down {
    margin-bottom: -15px;
    transition-duration: .4s;
}

.what-we-did-section .container .projects-box .project .top-half{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.what-we-did-section .container .projects-box .project .bottom-half {
    padding: 10px;
}

.what-we-did-section .container .projects-box .project .top-half .project-title {
    color: white;
    padding-left: 10px;
    border-left: 3px solid var(--secondary);
}

.what-we-did-section .container .projects-box .project .top-half .fa-chevron-down {
    border: none;
    background: transparent;
    color: var(--secondary);
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.what-we-did-section .container .projects-box .project-1 .top-half{
    background-image: url(/images/shainas-kitchen.jpeg);
}

.what-we-did-section .container .projects-box .project-2 .top-half{
    background-image: url(/images/school-bathroom.jpg);
}

.what-we-did-section .container .projects-box .project-3 .top-half{
    background-image: url(/images/gallery/fireplace.jpeg);
}

/* reels **************************************************************************************** */

.reels-section .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px;
}

.reels-section .container h2 {
    font-size: 60px;
    max-width: 850px;
    text-align: center;
    padding: 50px 0;
    font-family: var(--fontSerif);
    margin: 0 auto;
    opacity: 0;
    transition-duration: .5s;
}

.reels-section .container h2.scrolled {
    opacity: 1;
}

.reels-section .container h2 .line {
    border-bottom: 3px solid var(--secondary);
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top: 50px;
    width: 0;
    transition-duration: .5s;
}

.reels-section .container h2 .line.scrolled {
    width: 100%;
}


.reels-section .container .reels-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    opacity: .3;
    transition-duration: .5s;
}

.reels-section .container .reels-box.scrolled {
    opacity: 1;
}

.reels-section .container .reels-box .reel {
    display: flex;
    margin: 50px;
    box-shadow: -10px 0px 30px 3px gray;
    border-radius: 5px;

}

.reels-section .container .reels-box .reel video{
    object-fit: cover;
    border-radius: 5px;
}

/* media querys **************************************************************************************** */


@media screen and (max-width: 990px) {
    .main-content-section .container .text-box h2,
    .what-we-did-section .container h2,
    .reels-section .container h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 830px){
    .main-content-section-1 .container,
    .main-content-section-3 .container{
        padding: 0;
        flex-direction: column;
    }

    .main-content-section-2 .container{
        padding: 0;
        flex-direction: column-reverse;
    }

    .main-content-section .container .text-box p{
        margin: 50px 0px 0px 0px;
    }
    
    .main-content-section-3 .container .text-box p {
        margin: 50px 0;
    }

    .main-content-section-2 .container .text-box{
        text-align: right;
    }

    .main-content-section-2 .container .text-box p {
        padding: 0 25px 0 0;
    }

    .main-content-section-2 .container .text-box p .line {
        border-right: 3px solid var(--secondary);
        display: inline-block;
        height: 0;
        width: 100%;
        position: absolute;
        left: 0;
        transition-duration: .5s;
        border-left: none;
    }

    .main-content-section-2 .container .text-box p .line.scrolled {
        height: 100%;
        border-left: none;
    }

    .main-content-section .container .text-box{
        width: 100%;
        max-width: 400px;
    }

    .main-content-section .container .text-box {
        padding: 50px;
    }

    .main-content-section .container .image-box {
        display: none;
    }

    .what-we-did-section .container h2 {
        text-align: start;
    }

    .what-we-did-section .container .projects-box {
        /* flex-direction: column; */
        padding: 50px 0 0;
    }

    .what-we-did-section .container .projects-box .project {
        width: 100%;
        height: 300px;
    }

    .what-we-did-section .container .projects-box .project:hover {
        height: 450px;
        transform: scale(1.03);
        box-shadow: 0px 0px 15px #ccc;
        margin: 35px auto 100px;
        border-radius: 3px;
    }

    .what-we-did-section .container .projects-box .project .top-half{
        flex-direction: column;
        margin: 0 auto 50px;
        width: 100%;
        height: 300px;
    }

    .reels-section .container {
        padding-left: 0;
        padding-right: 0;
    }

    .reels-section .container h2 {
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }

    .reels-section .container .reels-box {
        overflow: scroll;
        justify-content: start;
        overflow-x: scroll;
        position: relative;
    }

    .reels-section .container .reels-box .reel {
        margin: 50px 25px;
        box-shadow: 0px 0px 20px 2px #a0a0a0;
    }

    .reels-section .container .reels-box .reel:not(first-child) {
        margin: 50px 50px 50px 25px;
    }

    .reels-section .container .reels-box .reel:first-child {
        margin: 50px 0px 50px 50px;
    }

    .reels-section .container .reels-box .reel video {
        width: 250px;
        height: auto;
        max-width: 400px;
    }
}
